* {box-sizing: border-box}

/* Bordered form */

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 2px 0 11px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    font-family: 'Nunito', sans-serif;
    background-color: #249fff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

form {
    max-width: 500px;
    top: 100px;
    border: 15px;
    box-shadow: 0px 2px 10px 0px #464646;
    padding: 20px;
    margin: auto;
    background: white;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 2%;
}

html {
    background:	#333333	;
    zoom: 0.9;
}

::placeholder {
    color: red;
}

.verif {
    text-align: center;
}